//variables, mixins, typography

// Typography
$base__font-family: 'Montserrat',
sans-serif;
$base__font-size: 0.875em; //14px;
$base__font-weight: 400;
$base__font-weight--bold: 700;

$secondary__font-family: "Roboto",
Arial,
sans-serif;

$heading__font-size--small: 1.286em; //18px
$heading__font-size--medium: 1.714em; //24px
$heading__font-size--large: 2.143em; //30px
$heading__font-size--x-large: 2.571em; //36px
$heading__font-size--xl-large: 3.429em; //48px

$line__height--small: 36px;
$line__height--medium: 48px;
$line__height--large: 70px;
$line__height--x-large: 92px;

// Colors
$primary__color: #fff;
$secondary__color: #2a5da3;
$tertiary__color: #2e66b2;
$quaternary__color: #153b6d;
$quinary__color: #66778e;
$senary__color: #14396a;

$span__comment__color: #213a61;

body {
    margin: 0;
    padding: 0;
    width: 100%;
    // background: #0A2345;
    background: -moz-linear-gradient(top, #0a2345 10%, #0a2245 18%, #0a2245 18%, #0a203e 35%, #071830 50%, #051123 82%, #051123 93%, #051123 93%, #051123 100%, #2989d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0a2345 10%,#0a2245 18%,#0a2245 18%,#0a203e 35%,#071830 50%,#051123 82%,#051123 93%,#051123 93%,#051123 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0a2345 10%,#0a2245 18%,#0a2245 18%,#0a203e 35%,#071830 50%,#051123 82%,#051123 93%,#051123 93%,#051123 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-family: $base__font-family;
}

.gradient {
    margin:0;
    padding: 0;
}

// Mixins

@mixin mQ($arg) {
    @media only screen and (max-width: $arg) {
        @content;
    }
}