:root {
  --background-color: #0a2345;
  --color: #081c38;
  --lineWidth: .9%;
  --borderRadius: 5px;
  --lineTop: 48%;
  --lineHeight: 5%;
}

.wave {
  position: absolute;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 100%;
  height: 471px;

  @include mQ(1330px) {
    margin-top: 3%;
  }

  @include mQ(940px) {
    margin-top: -1%;
    height: 383px;
  }

  @include mQ(720px) {
    height: 383px;
  }

  @include mQ(630px) {
    height: 290px;
  }

  @include mQ(540px) {
    height: 210px;
  }
  @include mQ(420px) {
    margin-top: 8%;
    height: 110px;
  }
}

.line {
  margin: 0;
  transition: .7s all;
  position: absolute;
  width: var(--lineWidth);
  background: var(--color);
}


.line-1 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 3%;
}

.line-2 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 4.5%;
}

.line-3 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 6%;
}

.line-4 {
  height: calc(var(--lineHeight) + 3%);
  top: calc(var(--lineTop) - 2%);
  left: 7.5%;
}

.line-5 {
  height: calc(var(--lineHeight) + 3%);
  top: calc(var(--lineTop) - 2%);
  left: 9%;
}

.line-6 {
  height: calc(var(--lineHeight) + 5%);
  top: calc(var(--lineTop) - 3%);
  left: 10.5%;
}

.line-7 {
  height: calc(var(--lineHeight) + 5%);
  top: calc(var(--lineTop) - 3%);
  left: 12%;
}

.line-8 {
  height: calc(var(--lineHeight) + 3%);
  top: calc(var(--lineTop) - 2%);
  left: 13.5%;
}

.line-9 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 15%;
}

.line-10 {
  height: calc(var(--lineHeight) + 5%);
  top: calc(var(--lineTop) - 3%);
  left: 16.5%;
}

.line-11 {
  height: calc(var(--lineHeight) + 3%);
  top: calc(var(--lineTop) - 2%);
  left: 18%;
}

.line-12 {
  height: calc(var(--lineHeight) + 9%);
  top: calc(var(--lineTop) - 5%);
  left: 19.5%;
}

.line-13 {
  height: calc(var(--lineHeight) + 5%);
  top: calc(var(--lineTop) - 3%);
  left: 21%;
}

.line-14 {
  height: calc(var(--lineHeight) + 9%);
  top: calc(var(--lineTop) - 5%);
  left: 22.5%;
}

.line-15 {
  height: calc(var(--lineHeight) + 15%);
  top: calc(var(--lineTop) - 8%);
  left: 24%;
}

.line-16 {
  height: calc(var(--lineHeight) + 35%);
  top: calc(var(--lineTop) - 18%);
  left: 25.5%;
}

.line-17 {
  height: calc(var(--lineHeight) + 55%);
  top: calc(var(--lineTop) - 28%);
  left: 27%;
}

.line-18 {
  height: calc(var(--lineHeight) + 75%);
  top: calc(var(--lineTop) - 38%);
  left: 28.5%;
}

.line-19 {
  height: calc(var(--lineHeight) + 55%);
  top: calc(var(--lineTop) - 28%);
  left: 30%;
}

.line-20 {
  height: calc(var(--lineHeight) + 35%);
  top: calc(var(--lineTop) - 18%);
  left: 31.5%;
}

.line-21 {
  height: calc(var(--lineHeight) + 55%);
  top: calc(var(--lineTop) - 28%);
  left: 33%;
}

.line-22 {
  height: calc(var(--lineHeight) + 9%);
  top: calc(var(--lineTop) - 5%);
  left: 34.5%;
}

.line-23 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 36%;
}

.line-24 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 37.5%;
}

.line-25 {
  height: calc(var(--lineHeight) + 9%);
  top: calc(var(--lineTop) - 5%);
  left: 39%;
}

.line-26 {
  height: calc(var(--lineHeight) + 15%);
  top: calc(var(--lineTop) - 8%);
  left: 40.5%;
}

.line-27 {
  height: calc(var(--lineHeight) + 35%);
  top: calc(var(--lineTop) - 18%);
  left: 42%;
}

.line-28 {
  height: calc(var(--lineHeight) + 55%);
  top: calc(var(--lineTop) - 28%);
  left: 43.5%;
}

.line-29 {
  height: calc(var(--lineHeight) + 55%);
  top: calc(var(--lineTop) - 28%);
  left: 45%;
}

.line-30 {
  height: calc(var(--lineHeight) + 35%);
  top: calc(var(--lineTop) - 18%);
  left: 46.5%;
}

.line-31 {
  height: calc(var(--lineHeight) + 15%);
  top: calc(var(--lineTop) - 8%);
  left: 48%;
}

.line-32 {
  height: calc(var(--lineHeight) + 9%);
  top: calc(var(--lineTop) - 5%);
  left: 49.5%;
}

.line-33 {
  height: calc(var(--lineHeight) + 9%);
  top: calc(var(--lineTop) - 5%);
  left: 51%;
}

.line-34 {
  height: calc(var(--lineHeight) + 5%);
  top: calc(var(--lineTop) - 3%);
  left: 52.5%;
}

.line-35 {
  height: calc(var(--lineHeight) + 3%);
  top: calc(var(--lineTop) - 2%);
  left: 54%;
}

.line-36 {
  height: calc(var(--lineHeight) + 3%);
  top: calc(var(--lineTop) - 2%);
  left: 55.5%;
}

.line-37 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 57%;
}

.line-38 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 58.5%;
}

.line-39 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 60%;
}

.line-40 {
  height: calc(var(--lineHeight) + 3%);
  top: calc(var(--lineTop) - 2%);
  left: 61.5%;
}

.line-41 {
  height: calc(var(--lineHeight) + 9%);
  top: calc(var(--lineTop) - 5%);
  left: 63%;
}

.line-42 {
  height: calc(var(--lineHeight) + 9%);
  top: calc(var(--lineTop) - 5%);
  left: 64.5%;
}

.line-43 {
  height: calc(var(--lineHeight) + 35%);
  top: calc(var(--lineTop) - 18%);
  left: 66%;
}

.line-44 {
  height: calc(var(--lineHeight) + 75%);
  top: calc(var(--lineTop) - 38%);
  left: 67.5%;
}

.line-45 {
  height: calc(var(--lineHeight) + 55%);
  top: calc(var(--lineTop) - 28%);
  left: 69%;
}

.line-46 {
  height: calc(var(--lineHeight) + 55%);
  top: calc(var(--lineTop) - 28%);
  left: 70.5%;
}

.line-47 {
  height: calc(var(--lineHeight) + 35%);
  top: calc(var(--lineTop) - 18%);
  left: 72%;
}

.line-48 {
  height: calc(var(--lineHeight) + 15%);
  top: calc(var(--lineTop) - 8%);
  left: 73.5%;
}

.line-49 {
  height: calc(var(--lineHeight) + 9%);
  top: calc(var(--lineTop) - 5%);
  left: 75%;
}

.line-50 {
  height: calc(var(--lineHeight) + 15%);
  top: calc(var(--lineTop) - 8%);
  left: 76.5%;
}

.line-51 {
  height: calc(var(--lineHeight) + 5%);
  top: calc(var(--lineTop) - 3%);
  left: 78%;
}

.line-52 {
  height: calc(var(--lineHeight) + 3%);
  top: calc(var(--lineTop) - 2%);
  left: 79.5%;
}

.line-53 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 81%;
}

.line-54 {
  height: calc(var(--lineHeight) + 3%);
  top: calc(var(--lineTop) - 2%);
  left: 82.5%;
}

.line-55 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 84%;
}

.line-56 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 85.5%;
}

.line-57 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 87%;
}

.line-58 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 88.5%;
}

.line-59 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 90%;
}

.line-60 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 91.5%;
}

.line-61 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 93%;
}

.line-62 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 94.5%;
}

.line-63 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 96%;
}

.line-64 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 97.5%;
}

.line-65 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 99%;
}

.line-66 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 1.5%;
}

.line-67 {
  height: var(--lineHeight);
  top: var(--lineTop);
  left: 0%;
}

/*# sourceMappingURL=styles.css.map */